Repository odin-lang/Odin, pull requests merged in 2023-06, with the labels that each got.

#1309 src: "Fix" the system call intrinsic for FreeBSD
  src/llvm_backend_proc.cpp
Labels: stale

#2289 Fix out of range error with _alloc_command_line_arguments in darwin
  core/os/os_darwin.odin
Labels: stale

#2597 Allowing for Positional and Named Arguments in Procedure Calls
  core/c/frontend/preprocessor/preprocess.odin
  core/compress/gzip/gzip.odin
  core/compress/zlib/zlib.odin
  core/fmt/fmt.odin
  core/fmt/fmt_os.odin
  core/image/png/helpers.odin
  core/log/log.odin
  core/log/log_allocator.odin
  core/math/big/radix.odin
  core/mem/virtual/arena.odin
  core/runtime/core_builtin.odin
  core/runtime/error_checks.odin
  core/testing/runner_windows.odin
  core/testing/testing.odin
  core/text/table/table.odin
  examples/demo/demo.odin
  src/array.cpp
  src/check_expr.cpp
  src/check_stmt.cpp
  src/check_type.cpp
  src/error.cpp
  src/gb/gb.h
  src/llvm_backend_proc.cpp
  src/parser.cpp
  src/parser.hpp
  src/parser_pos.cpp
  src/types.cpp
Labels: enhancement, feature idea, implementation, compiler-development, llvm-backend, frontend, needs-validation

#2584 New and Improved `io.Stream` interface
  core/bufio/read_writer.odin
  core/bufio/reader.odin
  core/bufio/writer.odin
  core/bytes/buffer.odin
  core/bytes/reader.odin
  core/compress/common.odin
  core/crypto/blake/blake.odin
  core/crypto/blake2b/blake2b.odin
  core/crypto/blake2s/blake2s.odin
  core/crypto/gost/gost.odin
  core/crypto/groestl/groestl.odin
  core/crypto/haval/haval.odin
  core/crypto/jh/jh.odin
  core/crypto/keccak/keccak.odin
  core/crypto/md2/md2.odin
  core/crypto/md4/md4.odin
  core/crypto/md5/md5.odin
  core/crypto/ripemd/ripemd.odin
  core/crypto/sha1/sha1.odin
  core/crypto/sha2/sha2.odin
  core/crypto/sha3/sha3.odin
  core/crypto/shake/shake.odin
  core/crypto/sm3/sm3.odin
  core/crypto/streebog/streebog.odin
  core/crypto/tiger/tiger.odin
  core/crypto/tiger2/tiger2.odin
  core/crypto/whirlpool/whirlpool.odin
  core/fmt/fmt_os.odin
  core/io/conv.odin
  core/io/io.odin
  core/io/multi.odin
  core/io/util.odin
  core/os/os2/errors_windows.odin
  core/os/os2/file.odin
  core/os/os2/file_linux.odin
  core/os/os2/file_stream.odin
  core/os/os2/file_windows.odin
  core/os/stream.odin
  core/strings/builder.odin
  core/strings/reader.odin
  vendor/botan/blake2b/blake2b.odin
  vendor/botan/gost/gost.odin
  vendor/botan/keccak/keccak.odin
  vendor/botan/md4/md4.odin
  vendor/botan/md5/md5.odin
  vendor/botan/ripemd/ripemd.odin
  vendor/botan/sha1/sha1.odin
  vendor/botan/sha2/sha2.odin
  vendor/botan/sha3/sha3.odin
  vendor/botan/shake/shake.odin
  vendor/botan/skein512/skein512.odin
  vendor/botan/sm3/sm3.odin
  vendor/botan/streebog/streebog.odin
  vendor/botan/tiger/tiger.odin
  vendor/botan/whirlpool/whirlpool.odin
Labels: enhancement, proposal, design implementation, core-library
